services:
  app:
    build: .
    image: pt-af-pro-api-tools
    restart: unless-stopped
    env_file: .env
    ports:
      - "8000:8000"
    user: "${UID}:${GID}"
    secrets:
      - ptaf_api_login
      - ptaf_api_password
      # - ptaf_api_token
    volumes:
      - ./modules:/home/app/modules
      # вся динамика (logs, snapshots, rules, actions) теперь в ./data
      - ./data:/home/app/data

secrets:
  ptaf_api_login:
    file: ./secrets/ptaf_api_login.txt
  ptaf_api_password:
    file: ./secrets/ptaf_api_password.txt
  # ptaf_api_token:
  #   file: ./secrets/ptaf_api_token.txt
